html {
  font-size: 62.5%;
}

body {
  font-family: "Avenir Next", Arial, sans-serif;
  color: #222222;
  margin: 0;
  font-size: 1.3rem;
  background: #fefefe;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  padding: 50px 0 60px;
  width: 100%;
}

header h1 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #7f47f5;
  display: inline-block;
}

header .links {
  line-height: 30px;
  float: right;
  display: inline-block;
  margin-right: 100px;
}

header a, header iframe {
  padding: 0 10px 0;
  vertical-align: middle;
}

.content {
  width: 100%;
  padding-bottom: 30px;
  font-size: 2rem;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 400;
  max-width: 60%;
}

section {
  margin: 30px 0 0;
}

p {
  max-width: 600px;
}

section h2 {
  font-size: 2rem;
  color: #222222;
  font-weight: 400;
  margin-top: 30px;
}

code {
  max-width: 600px;
}

a, a:visited {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #7f47f5;
}

.description {
  font-size: 1.6rem;
}

footer {
  margin-bottom: 20px;
}

footer p {
  padding: 0;
  margin: 0;
}

/* Highlight.js theme */

pre code {
  display: block;
  background: white;
  color: #4d4d4c;
  font-family: Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  border: 1px solid #eeeeee;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
}

pre .hljs-comment,
pre .hljs-title {
  color: #8e908c;
}

pre .hljs-number,
pre .hljs-preprocessor,
pre .hljs-built_in,
pre .hljs-literal,
pre .hljs-params,
pre .hljs-constant {
  color: #f5871f;
}

pre .hljs-string,
pre .hljs-value,
pre .hljs-inheritance,
pre .hljs-header {
  color: #8959a8;
}

pre .hljs-function,
pre .javascript .hljs-title {
  color: #4271ae;
}

pre .hljs-keyword,
pre .javascript .hljs-function {
  color: #8959a8;
}
